h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{font-size: 1.25em;}
    


body
{
    
    margin:0;
    font-family: 'roboto', sans-serif;
}

button
{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(0 , 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0 , 0, 0, 0.5);
  color: white;
  background-color: #4E94AB;

}

/*cambio de color al pulsar boton*/

button:hover
{
    background-color: aquamarine;
}

.container
{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:#4E94AB}









#hero
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh;
	color: white;
	background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak3.jpg);
	background-image: -moz-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak3.jpg);
	background-image: -o-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak3.jpg);
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../images/bak3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#hero h1{color: white;}



#contrata-ahora .container
{
    text-align: center;
    padding: 200px 12px;


}

#servicios
{
    background-color: rgb(30,30,30,);
    color: white;
    text-align: center;
}

#servicios .container
{
padding: 100px 12px;


}
#servicios h2
{margin-top: 0; font-size: 3.2em;}

#servicios p
{
    display: nne;
}

#servicios .carta
{
	background-position: center center;
	background-size: cover;
	padding: 50px;
	margin: 20px;
	border-radius: 15px;




	

}

.carta:first-child
{
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak4.jpg);
	background-image: -moz-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak4.jpg);
	background-image: -o-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak4.jpg);
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../images/bak4.jpg);
}

.carta:nth-child(2){
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak2.jpg);
	background-image: -moz-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak2.jpg);
	background-image: -o-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak2.jpg);
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../images/bak2.jpg);


}

.carta:nth-child(3){
    background-image: -webkit-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak1.jpg);
	background-image: -moz-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak1.jpg);
	background-image: -o-linear-gradient(90deg,rgba(0,0,0,0.50) 0%,rgba(0,0,0,0.50) 100%), url(../images/bak1.jpg);
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), url(../images/bak1.jpg);


}

/* caracteristicas------------------------------------------------------------------------------*/

#caracteristicas
{
background-color: white;

}

#caracteristicas .container{ text-align: center; padding: 250px 12px;}

#caracteristicas li{ margin: 16px 0px; font-weight: bold;}

#ventas
{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: rgb(30,30,30,); 
    color: white;
    height: 80vh; 

}

#final h2{font-size: 9vw;}
#final button{font-size: 5vw;}


footer{background-color: rgb(230, 230, 230);}

footer p{
    margin: 0; 
    padding: 12px;
    color: rgb(100, 100, 100);

}

footer .container{
	height: 150px;
	display: 150px;
	justify-content: center;
	align-items: flex-end;
	background-color: grey;
}
